{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type='text/javascript'>
    var exercices = {{ exercices|safe }};
  </script>

<div class="container">
	<div class="row">
		<div class="col my-3">
			<h1 class="mb-0">Session detail {{ object.date }}</h1>
      <p class="text-muted">current body weight is {{ object.get_body_weight }} kg. </p>
      <p>{{object.get_total_volume}} </p>
     
      
    </div>    
        <!-- <p class="text-muted">{{object.get_total_volume}}</p>
        <p class="text-muted">your chest volume is {{object.get_chest_volume}}</p> -->
  </div>
		<div class="row">	
			<table class="table">
			  <thead class="bg-default">
			    <tr>
			      <th>name </th>
			      <!-- <th>muscle</th> -->
			      <th>weight</th>
			      <th>repition</th>
            <th>delete</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for obj in object.rep_set.all %}
			    <tr>
			      <th scope="row">{{ obj.exercice.name }}</th>
			      <!-- <td> <span class="badge badge-dark">{{ obj.exercice.primarymg }}</span></td> -->
			      <td>{{ obj.weight }} Kg</td>
			      <td>{{ obj.repition }}</td>
            <td ><form method="post" action="{% url 'volume:rep-delete' obj.id %}">{% csrf_token %}
    <button class="btn btn-danger text-white" type="submit" value="Confirm"><i class="far fa-trash-alt"></i></button>
</form></td>
          </tr>
			    {% endfor %}
			  </tbody>
			</table>
			

		</div>
      
        <div id="app" class="row my-5"> 
          <table class="table">
            <thead class="bg-default">
              <tr>
                <th>name </th>
                <!-- <th>muscle</th> -->
                <th>weight</th>
                <th>repition</th>
               
              </tr>
            </thead>
            <tbody>
              {%  if exercices %}
              <tr v-for="rep in exercices">
                <th scope="row">[[ rep.fields.exercice ]]</th>
                <!-- <td> <span class="badge badge-dark">{{ obj.exercice.primarymg }}</span></td> -->
                <td>[[ rep.fields.weight ]] Kg</td>
                <td>[[ rep.fields.repition ]]p</td>
               
              </tr>
              {% endif %}
            </tbody>
          </table>
          

        </div>
	
</div>

<!-- Modal -->
<div class="modal fade bg-ios text-white" id="addSetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">add a workout set</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
          <form id="set_form" method="post" action="{% url 'volume:add-set' %}">{% csrf_token %}

            {{ set_form.non_field_errors }}

            {% for hidden_field in set.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}

            <div class="p-4  mb-5">
              {% for field in set_form.visible_fields %}
               
                    {{ field.label_tag }}
                 	
                    {{ field.errors }}
                    {% render_field field class="form-control text-white" placeholder=field.name %}
                    {{ field.help_text }}
                 
                
              {% endfor %}
            </div>
          <button id="mybutton" type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          message: 'Hello Vue!',
          exercices: exercices,
      },
    });
    console.log("exercices : ",exercices,)
    console.log("********", exercices[0])
    console.log("********", exercices[0].fields.weight)
  </script>

<!-- <script type="text/javascript">


  $("form").click(function(e){
    e.preventDefault()
   /* var btn_id = $("form").attr('id')*/
    var _url = $("form").attr('action')
    console.log("you clicked the button ", "{{ csrf_token }}" );
    $.ajax({
      url: _url,
      type: 'DELETE',
      data: {
        CSRF: "{{ csrf_token }}",
      },
      contentType:'application/json',
      dataType: 'text',
      error: function(result){},
      success: function(result) {}
  });
  
});
  

</script> -->
{% endblock js %}  